html {
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

header, footer {
    padding: 1rem;
    text-align: center;
}

button, input, label{
    padding: 0.5rem 1rem;
}

td{
    padding: 0.5rem;
    text-align: center;
}